## In-class scraping exercise
This part uses pandas to clean up the scraped data from Craigslist

In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('raw.csv')
data.head()

,title,size,price,nbrhood
0,"Top Floors of Beautiful House, Dog Friendly, F...",\n 3br -\n ...,$1098,(Regent Square - Frick Park)
1,Newly Remodeled Apartment with Private Yard,\n 2br -\n ...,$1175,NaN
2,Completely Renovated 3-Bedrooom in Highland Pa...,\n 3br -\n,$1190,(Stanton Ave)
3,Beautiful 1-Bedroom Apartment,\n 1br -\n,$650,"(25 W Chestnut St, Washington PA)"
4,3BR Townhouse in Squirrel Hill South - 2324 Mu...,\n 3br -\n ...,$1395,(2324 Murray Ave)

In [21]:
data['size'] = data['size'].replace("\s","", regex=True)
data['size'] = data['size'].str.replace(",","")
data['size'] = data['size'].str.strip()
data['price'] = data['price'].str.replace('$','')
data['nbrhood'] = data['nbrhood'].str.replace('(','')
data['nbrhood'] = data['nbrhood'].str.replace(')','')
data.head()

,title,size,price,nbrhood
0,"Top Floors of Beautiful House, Dog Friendly, F...",3br-1166ft-,1098,Regent Square - Frick Park
1,Newly Remodeled Apartment with Private Yard,2br-1400ft-,1175,NaN
2,Completely Renovated 3-Bedrooom in Highland Pa...,3br-,1190,Stanton Ave
3,Beautiful 1-Bedroom Apartment,1br-,650,"25 W Chestnut St, Washington PA"
4,3BR Townhouse in Squirrel Hill South - 2324 Mu...,3br-1558ft-,1395,2324 Murray Ave

In [22]:
data.to_csv('clean.csv')