# MoviesLens data set
# Question: How do men and women rate the same movie?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

### Read three data files

In [ ]:
# pass in column names for each CSV
u_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_csv('u.user', sep='|', names=u_cols,
                    encoding='latin-1')

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('u.data', sep='\t', names=r_cols,
                      encoding='latin-1')

# u.item has a large number of fields.  Lets use only two.
# Note the use of 'usecols'

m_cols = ['movie_id', 'title']
movies = pd.read_csv('u.item', sep='|', names=m_cols, usecols=range(2),
                     encoding='latin-1')

In [ ]:
# create one merged DataFrame
movie_ratings = 
data =

Always good to start off by examining the data

In [ ]:
data.head()

### [Q] What are the top 10 movies that have the most number of ratings?

#### Approach 1: 
- Form groups based on title
- find the size of each group
- sort the resultant Series with .sort_values

#### Approach 2:  Use Pandas' .value_counts :-)

### [Q] What is the average rating for each movie?  Which movies are rated the highest?

### [Q] Perform the same calculation, but this time only for movies that have been rated at least 100 times

### Determine the 50 movies that have been reviewed the most
(we've already done it)

## Pivot Tables

In [ ]:
len(data['title'].value_counts())

In [ ]:
len(data)

In [ ]:
pvt = data.pivot_table

In [ ]:
len(pvt)

### Find X to plot the difference in average reviews between men and women

In [ ]:
top_50.index

In [ ]:
X.sort_values().plot(kind='barh',figsize=[9,15])